@media screen and (min-width: 701px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer {
        display: flex;
        justify-content: space-around;
        background-color: var(--primary-color);
    }

    
}