:root {
    --primary-color: #143642;
    --secondary-color: #D19C1D;
    --third-color: #2F97C1;
    --background-color: #fdfffc;
    --card-background-color: /*#D9CBAE;*/ #6A041D; 

    --heading-font: "Playfair", serif;
    --paragraph-font: "Barlow", sans-serif;

    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --nav-link-color: var(--primary-text-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color:var(--secondary-text-color);
    --nav-hover-background-color: var(--secondary-color);
}

* {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--background-color);
}

h1, h2, .navigation {
    font-family: var(--heading-font);
}

h1 {
    text-align: center;
}

/*Header*/

header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.header {
    display: flex;
    padding: 5px;
    align-items: center;
}

nav ul {
    display: block;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: var(--primary-text-color);
    
}

nav ul li a:hover{
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    
}

.current-navigation-item {
    border-bottom: 5px solid var(--secondary-color);
}



/**************************/
/*       Hero-Image       */
/**************************/
.hero {
    position: relative;
    margin: 0 auto;
    
}

.hero img {
    width: 100%;
}

.call-to-action {
    position: absolute;
    right: 15%;
    bottom: 40px;
    max-width: 25%;
    align-items: center;
    text-align: center;
    z-index: 50;
}

.call-to-action a {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    z-index: 50;
}

.call-to-action a:hover {
    background-color: var(--background-color);
    color: var(--secondary-text-color)
}



/****************/
/*    Footer    */
/****************/
footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    margin-top: 10px;
    padding: 20px;
}

footer p {
    color: var(--primary-text-color);
}

.social-media-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.social-media-tags a{
    text-decoration: none;
    color: var(--primary-text-color);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 10px;
    padding: 10px;
    overflow: hidden;
    border: 2px solid var(--primary-text-color);
    font-size: 1.5em;
    transition: color 300ms;


}

.social-media-tags a:hover {
    color: var(--primary-color);
    background-color: var(--primary-text-color);
}

/*******************/
/*      Menu       */
/*******************/
#menu {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    
    
}

#menu::before {
    content: "\2630";
}

.show {
    display: block;
}

#menu.show::before {
    content: "X";
}

.navigation.show {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
    color: var(--secondary-text-color);
    background-color: var(--primary-text-color);
}

/******************/
/*Grid/List Button*/
/******************/
.button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}
#grid-list {
    background-color: var(--card-background-color);
    color: var(--primary-text-color);
    padding: 15px;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    
}

/********************************/
/*            Cards             */
/********************************/
.cards {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}



.events-card, .weather-card, .forecast-card {
    background-color: var(--secondary-color);
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.events-card > h2 {
    background-color: var(--primary-color);
}

.events-card > p, .forecast-card > p {
    padding: 10px;
}


/********************************/
/*          Spotlights         */
/********************************/
.spotlights {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}



.premium-card {
    background-color: var(--secondary-color);
    display: grid;
    grid-column: auto;
    min-width: 200px;
    max-width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.premium-card > h2 {
    background-color: var(--card-background-color);
}

.premium-card > a {
    text-decoration: none;
    color: var(--secondary-text-color);
}



/*************************/
/*Member Cards(List view)*/
/*************************/
.members-cards.list {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    
}

.members-cards.list section {
    display: flex; 
    align-items: center; 
    padding: 10px; 
}

.members-cards.list img {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
}

.members-cards.list h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.members-cards.list p {
    margin: 5px 0; 
}



/*************************/
/*Member Cards(Grid view)*/
/*************************/

.members-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.members-cards a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.members-cards a:hover {
    color: var(--secondary-color);
}

.members-cards section {
    transition:  transform 0.3s ease;
    background-color: var(--card-background-color);
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 20px;

}

.members-cards section:hover {
    transform: scale(1.05); 
}

h2 {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

p {
    color: var(--secondary-text-color)
}

/*.membership {
    font-weight: bold;
    font-size: 16px;
    background-color: brown;
}

.silver {
    background-color: silver;
}

.gold {
    background-color: gold; 
}*/
    
@media screen and (max-width: 700px) {
    .navigation {
        display: none;
    }

    .cards, .spotlights {
        display: grid;
    }

}

    

